[ActionPlugins][0]
MiddleButton;NoModifier=org.kde.paste
RightButton;NoModifier=org.kde.contextmenu

[ActionPlugins][1]
RightButton;NoModifier=org.kde.contextmenu

[Containments][1]
ItemGeometries-1280x720=Applet-32:32,16,336,176,0;Applet-33:368,16,336,176,0;Applet-36:32,192,336,176,0;Applet-34:368,192,336,176,0;
ItemGeometries-2560x1440=Applet-32:32,16,336,176,0;Applet-33:368,16,336,176,0;Applet-36:32,192,336,176,0;Applet-34:368,192,336,176,0;
ItemGeometries-3840x2060=Applet-32:32,16,336,176,0;Applet-33:368,16,336,176,0;Applet-36:32,192,336,176,0;Applet-34:368,192,336,176,0;
ItemGeometries-3840x2160=Applet-32:32,16,336,176,0;Applet-33:368,16,336,176,0;Applet-36:32,192,336,176,0;Applet-34:368,192,336,176,0;
ItemGeometriesHorizontal=Applet-32:32,16,336,176,0;Applet-33:368,16,336,176,0;Applet-36:32,192,336,176,0;Applet-34:368,192,336,176,0;
activityId=3dce030b-18e7-4432-bec8-f1cccaa09c7f
formfactor=0
immutability=1
lastScreen=0
location=0
plugin=org.kde.plasma.folder
wallpaperplugin=org.kde.image

[Containments][1][Applets][32]
immutability=1
plugin=org.kde.plasma.systemmonitor.cpucore

[Containments][1][Applets][32][Configuration]
CurrentPreset=org.kde.plasma.systemmonitor

[Containments][1][Applets][32][Configuration][Appearance]
chartFace=org.kde.ksysguard.barchart
showTitle=false
title=Individual Core Usage

[Containments][1][Applets][32][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][32][Configuration][SensorColors]
cpu/cpu.*/usage=61,174,230
cpu/cpu0/usage=61,174,230
cpu/cpu1/usage=61,90,230
cpu/cpu10/usage=61,230,117
cpu/cpu11/usage=61,230,201
cpu/cpu12/usage=90,230,61
cpu/cpu13/usage=61,230,96
cpu/cpu14/usage=61,230,159
cpu/cpu15/usage=61,230,223
cpu/cpu2/usage=117,61,230
cpu/cpu3/usage=201,61,230
cpu/cpu4/usage=230,61,174
cpu/cpu5/usage=230,61,90
cpu/cpu6/usage=230,117,61
cpu/cpu7/usage=230,201,61
cpu/cpu8/usage=174,230,61
cpu/cpu9/usage=90,230,61

[Containments][1][Applets][32][Configuration][Sensors]
highPrioritySensorIds=["cpu/cpu.*/usage"]
totalSensors=["cpu/all/usage"]

[Containments][1][Applets][32][Configuration][org.kde.ksysguard.barchart][General]
showGridLines=false
showLegend=false
showYAxisLabels=false

[Containments][1][Applets][33]
immutability=1
plugin=org.kde.plasma.systemmonitor.memory

[Containments][1][Applets][33][Configuration]
CurrentPreset=org.kde.plasma.systemmonitor

[Containments][1][Applets][33][Configuration][Appearance]
chartFace=org.kde.ksysguard.piechart
showTitle=false
title=Memory Usage

[Containments][1][Applets][33][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][33][Configuration][SensorColors]
memory/physical/used=61,174,230

[Containments][1][Applets][33][Configuration][Sensors]
highPrioritySensorIds=["memory/physical/used"]
lowPrioritySensorIds=["memory/physical/total"]
totalSensors=["memory/physical/usedPercent"]

[Containments][1][Applets][33][Configuration][org.kde.ksysguard.piechart][General]
showLegend=false

[Containments][1][Applets][34]
immutability=1
plugin=org.kde.plasma.systemmonitor.net

[Containments][1][Applets][34][Configuration]
CurrentPreset=org.kde.plasma.systemmonitor

[Containments][1][Applets][34][Configuration][Appearance]
chartFace=org.kde.ksysguard.linechart
showTitle=false
title=Network Speed

[Containments][1][Applets][34][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][34][Configuration][SensorColors]
network/all/download=61,174,230
network/all/upload=230,117,61

[Containments][1][Applets][34][Configuration][Sensors]
highPrioritySensorIds=["network/all/download","network/all/upload"]

[Containments][1][Applets][36]
immutability=1
plugin=org.kde.plasma.systemmonitor.diskactivity

[Containments][1][Applets][36][Configuration]
CurrentPreset=org.kde.plasma.systemmonitor

[Containments][1][Applets][36][Configuration][Appearance]
chartFace=org.kde.ksysguard.linechart
showTitle=false
title=Hard Disk Activity

[Containments][1][Applets][36][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][36][Configuration][SensorColors]
disk/all/read=230,117,61
disk/all/write=61,174,230

[Containments][1][Applets][36][Configuration][Sensors]
highPrioritySensorIds=["disk/all/write","disk/all/read"]

[Containments][1][ConfigDialog]
DialogHeight=652
DialogWidth=1125

[Containments][1][General]
positions={"2560x1440":["1","23"],"3840x2160":["1","35"]}
sortMode=-1

[Containments][1][Wallpaper][org.kde.image][General]
Image=/home/jx/Imagens/wallpapers/wallhaven-1qp2mw.jpg

[Containments][2]
activityId=
formfactor=2
immutability=1
lastScreen=0
location=4
plugin=org.kde.panel
wallpaperplugin=org.kde.image

[Containments][2][Applets][22]
immutability=1
plugin=org.kde.plasma.digitalclock

[Containments][2][Applets][22][Configuration]
PreloadWeight=100
popupHeight=522
popupWidth=656

[Containments][2][Applets][22][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][2][Applets][23]
immutability=1
plugin=org.kde.plasma.nobara.showdesktop

[Containments][2][Applets][3]
immutability=1
plugin=org.kde.plasma.kickoff

[Containments][2][Applets][3][Configuration]
PreloadWeight=100
popupHeight=630
popupWidth=795

[Containments][2][Applets][3][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][2][Applets][3][Configuration][General]
favoritesPortedToKAstats=true
icon=nobara-app-menu-icon

[Containments][2][Applets][38]
immutability=1
plugin=org.kde.plasma.panelspacer

[Containments][2][Applets][39]
immutability=1
plugin=org.kde.plasma.panelspacer

[Containments][2][Applets][5]
immutability=1
plugin=org.kde.plasma.icontasks

[Containments][2][Applets][5][Configuration][General]
launchers=applications:Alacritty.desktop,applications:com.google.Chrome.desktop

[Containments][2][Applets][8]
activityId=
formfactor=0
immutability=1
lastScreen=-1
location=0
plugin=org.kde.plasma.systemtray
popupHeight=570
popupWidth=616
wallpaperplugin=org.kde.image

[Containments][2][Applets][8][Applets][10]
immutability=1
plugin=org.kde.plasma.cameraindicator

[Containments][2][Applets][8][Applets][11]
immutability=1
plugin=org.kde.plasma.clipboard

[Containments][2][Applets][8][Applets][11][Configuration]
PreloadWeight=65

[Containments][2][Applets][8][Applets][12]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][2][Applets][8][Applets][12][Configuration]
PreloadWeight=100

[Containments][2][Applets][8][Applets][13][Configuration]
PreloadWeight=42

[Containments][2][Applets][8][Applets][14][Configuration]
PreloadWeight=42

[Containments][2][Applets][8][Applets][15][Configuration]
PreloadWeight=42

[Containments][2][Applets][8][Applets][16]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][2][Applets][8][Applets][16][Configuration]
PreloadWeight=100

[Containments][2][Applets][8][Applets][17]
immutability=1
plugin=org.kde.plasma.printmanager

[Containments][2][Applets][8][Applets][18][Configuration]
PreloadWeight=42

[Containments][2][Applets][8][Applets][19]
immutability=1
plugin=org.kde.plasma.weather

[Containments][2][Applets][8][Applets][19][Configuration]
PreloadWeight=80

[Containments][2][Applets][8][Applets][19][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][2][Applets][8][Applets][19][Configuration][Units]
pressureUnit=5008
speedUnit=9001
temperatureUnit=6001
visibilityUnit=2007

[Containments][2][Applets][8][Applets][19][Configuration][WeatherStation]
placeDisplayName=Lages, Brazil, BR
placeInfo=Lages, Brazil, BR|3458930
provider=bbcukmet

[Containments][2][Applets][8][Applets][20][Configuration]
PreloadWeight=42

[Containments][2][Applets][8][Applets][21]
immutability=1
plugin=org.kde.plasma.volume

[Containments][2][Applets][8][Applets][21][Configuration]
PreloadWeight=100

[Containments][2][Applets][8][Applets][21][Configuration][General]
migrated=true

[Containments][2][Applets][8][Applets][24]
immutability=1
plugin=org.kde.plasma.bluetooth

[Containments][2][Applets][8][Applets][24][Configuration]
PreloadWeight=31

[Containments][2][Applets][8][Applets][25]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][2][Applets][8][Applets][25][Configuration]
PreloadWeight=52

[Containments][2][Applets][8][Applets][26][Configuration]
PreloadWeight=42

[Containments][2][Applets][8][Applets][27][Configuration]
PreloadWeight=42

[Containments][2][Applets][8][Applets][28]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][2][Applets][8][Applets][28][Configuration]
PreloadWeight=85

[Containments][2][Applets][8][Applets][40][Configuration]
PreloadWeight=42

[Containments][2][Applets][8][Applets][9][Configuration]
PreloadWeight=42

[Containments][2][Applets][8][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][2][Applets][8][General]
disabledStatusNotifiers=Xwayland Video Bridge_pipewireToXProxy
extraItems=org.kde.plasma.bluetooth,org.kde.plasma.cameraindicator,org.kde.plasma.clipboard,org.kde.plasma.devicenotifier,org.kde.plasma.networkmanagement,org.kde.plasma.notifications,org.kde.plasma.printmanager,org.kde.plasma.weather,org.kde.plasma.volume
hiddenItems=org.kde.plasma.bluetooth,org.kde.plasma.clipboard,tray-id,System Update Monitor,org.kde.plasma.weather
knownItems=org.kde.plasma.battery,org.kde.plasma.bluetooth,org.kde.plasma.brightness,org.kde.plasma.cameraindicator,org.kde.plasma.clipboard,org.kde.plasma.devicenotifier,org.kde.plasma.keyboardindicator,org.kde.plasma.keyboardlayout,org.kde.plasma.manage-inputmethod,org.kde.plasma.networkmanagement,org.kde.plasma.notifications,org.kde.plasma.printmanager,org.kde.plasma.vault,org.kde.plasma.weather,org.kde.kscreen,org.kde.plasma.volume,org.kde.plasma.mediacontroller

[Containments][2][General]
AppletOrder=38;3;5;39;8;22;23

[ScreenMapping]
itemsOnDisabledScreens=
screenMapping=
